@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.main{
    
margin-right: 10rem;
    margin-left: 2.5rem;
    margin-top: 5rem;
}
.newblog{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
  
    
}
.input{
    width: 50%;
    margin-top: 1rem;
    background-color: #e4e4d055;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
    color:#4F4A45 ;
}
.submitBtn{
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    margin: 1rem;
    padding: 0.5rem 2rem;
    background-color: #555843;
    color: #e4e4d0e0;
    
    font-family: 'DM Serif Display', serif;
}
.deleteBtn{
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    margin-top: 1rem;
    
    padding: 0.5rem 2rem;
    background-color: #584343;
    color: #e4e4d0e0;
    
    font-family: 'DM Serif Display', serif;
}
