.cardStyle{
    /* border: 7px solid red; */
    margin-right:9rem ;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* .............. */
  .card {
    width: 230px;
    background: #675D50;
    padding: 1.5rem;
    border-radius: 6px;
    margin: 1rem;
  }
  
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: #3C2A21;
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-size: 1.3rem;
    font-weight: 600;
    color: #fffaf4;
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    font-size: 0.9rem;
    color: #3C2A21;
    font-weight: 400;
    padding-bottom: 10px; ;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }
  .card button {
    font-size: 22px;
    color: #D7C0AE;
    font-family: 'Pacifico', cursive;
    
    cursor: pointer;
    /* position: relative; */
    border: none;
    background: none;
    
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .card button:focus,
  .card button:hover {
    color: #D7C0AE;
  }
  
  .card button:focus:after,
  .card button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .card button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #D7C0AE;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
